body{
	background-color: rgb(250, 250, 250);
}

div.banner{
	position: fixed;
	margin: -8px 0px 0px -8px;
	width: 100%;
	height: 120px;
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

img.logo {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.header{
	font-family: Segoe UI;
	margin: 25px 0px 0px 150px;
}

p.header{
	margin-top: 0px;
}

div.login-form{
	float: right;
	margin: 150px 50px 0px 0px;
	padding: 30px 20px 20px 20px;
	width: 400px;
	height: 500px;
	background-color: rgb(248, 248, 248);
	border-top: 15px solid rgb(157, 204, 55);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
}

form.login-credential{
	float: center;
}

h1.login-header{
	font-family: Segoe UI;
}

#input-style{
	margin: 15px 0px 25px 0px;
	width: 300px;
	background: none;
	border: none;
	outline: none;
	font-size: 20px;
	border-bottom: 2px solid black;
}

input.login-button{
	margin: 15px 0px 25px 0px;
	width: 300px;
	height: 80px;
	background-color: white;
	font-family: Segoe UI;
	font-size: 20px;
}

input.login-button:hover{
	background-color: rgb(157, 204, 55);
}

div.signup{
	font-family: Segoe UI;
}
