body {
	z-index: 1;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 120px;
	background-color: rgb(157 204 55);
}

.logo {
    width: 116px;
    height: auto;
    margin-left: 5px;
}

.headertext{
	font-family: Segoe UI;
	margin: -95px 0px 0px 150px;
}

p.headertext{
	margin-top: 0px;
}


